a, p, h1, h2, h3 {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}


.wrapper{
	display:flex;
	flex-direction: column;
	margin:0;
	padding:0;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.nav{
	display: flex;
}
.nav ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.nav ul li{
	padding:10px;
	margin:10px 20px 10px 20px;
	text-transform: uppercase;
	font-size:14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;

}
.nav ul li a:hover{
	color:black;
}
.nav ul li a{
	color:#777777;
	text-decoration: none;
	transition: 0.5s;

}
.creative--background{
    background: url(images/background.jpg) no-repeat 50% 50% / cover;
}
.creative__solutions{
	padding: 120px 0;
	color:white;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);

}
.creative__solutions__title{
	margin:0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size:60px;
	line-height: 65px;
	text-transform: uppercase;
}
.creative__solutions__slogan{
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	font-weight: 400;
	color:#cccccc;
	margin-bottom: 50px;
	margin-top: 40px;
}
.creative__solutions__button{
	font-size: 15px;
	border-radius: 30px;
	height: 60px;
	line-height: 60px;
	padding:0 30px;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color:white;
	background-color:#7cc576;
	border:none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.31);
	transition: background-color 0.2s, color 0.2s;
	cursor: pointer;
	-webkit-appearance:none;
}
.creative__solutions__button:hover{
	background-color: white;
	color:black;
}
.services{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
}
.services__title{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size:40px;
	margin-bottom: 0;
	margin-top: 100px;
	color:#222222;
}
.services__slogan{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color:#777777;
}
.services__feature{
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: 50px auto;
}
.services__feature__marketing__img, .services__feature__responsive__img, .services__feature__design__img{
	height: 53px;
}
.
.services__feature__design, .services__feature__responsive, .services__feature__marketing{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin:80px 45px 100px 45px;
	max-width: 300px;
}
.services__feature__design__title, .services__feature__responsive__title, .services__feature__marketing__title, .latest__container__features__title, .values__features__balance__title, .values__features__quality__title, .values__features__excelence__title {
	font-size: 18px;
	text-transform: uppercase;
	color:#222222;
	font-family: 'Montserrat';
	margin-bottom: 0;
	font-weight: bold;
}
.services__feature__design__description, .services__feature__responsive__description, .services__feature__marketing__description, .latest__container__features__description, .latest__container__features__list__comerce__description, .latest__container__features__list__secure__description, .latest__container__features__list__seo__description, .values__features__quality__description, .values__features__balance__description, .values__features__excelence__description{
	font-size:14px;
	font-family:'Roboto Slab', serif;
	font-weight: 700;
	color:#777777;
}
.relax{
	display: flex;
	width:100%;
}
.relax__gear{
	background-image: url('images/gear.png');
	background-color: #e9e9e9;
	background-repeat: no-repeat;
	background-position: 100%;
	flex:3;
}
.relax__content{
	background-image: url('images/relax.png');
	background-size: 100% 100%;
	flex:7;
}
.relax__content--background{
	background-color: rgba(0,0,0, 0.7);	
	padding:100px; 
}
.relax__content__title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color:#e9e9ea;
	font-size: 40px;
	text-transform: uppercase;
	margin:0;
}
.relax__content__title--ampersand{
	color:#7cc576;
}
.relax__content__description{
	font-size:16px;
	letter-spacing: -0.025em;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color:#ccc;	
	max-width: 514px;
}
.relax__content__features{
	list-style:none;
	line-height:10px;
	padding-left: 0;
}
.relax__content__features__item{
	background-image: url('images/checkmark.png');
	background-repeat: no-repeat;
	background-position: 0% 50%;
	line-height: 45px;
	height:45px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 16px;
	color:#ccc;
	padding-left: 60px;
	text-transform: capitalize;
}
.relax__content__learn{
	margin-top:40px;
	font-size: 15px;
	border-radius: 30px;
	height: 60px;
	line-height: 60px;
	padding:0 30px;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color:white;
	background-color:#7cc576;
	border:none;
	text-shadow: 0 1px 0 rgba(0,0,0,0.31);
	transition: background-color 0.2s, color 0.2s;
	cursor: pointer;
	-webkit-appearance:none;
}
.relax__content__learn:hover{
	background-color: white;
	color:black;
}
.latest{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}
.latest__title{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size:40px;
	margin-bottom: 0;
	margin-top: 100px;
	color:#222222;
}
.latest__description{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color:#777777;
	margin-top: 0;
}
.latest__container{
	background-image: url('images/derp.png');
	background-repeat: no-repeat;
	background-size: 50% 100%;
	background-position: 100% 50%;
	width: 75%;
	margin-left: 25%;
}
.latest__container__features__link{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.latest__container__features__link a{
	display: flex;
	font-family: 'Montserrat';
	font-weight: bold;
	font-size:16px;
	color:#7cc576;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 16px;
}
.latest__container__features__link img{
	margin-left: 5px;
	height:16px;
	width: 18px;

}
.latest__container__features{
	display: flex;
	width: 100%;
	flex-direction: column;
}
.latest__container__features__list__seo__title, .latest__container__features__list__comerce__title, .latest__container__features__list__secure__title{
	font-size: 18px;
	font-family: 'Montserrat';
	font-weight: 700;
	text-transform: capitalize;
	margin: 0;
}
.latest__container__features__list__comerce__description, .latest__container__features__list__seo__description, .latest__container__features__list__secure__description{
	margin: 0;
}
.latest__container__features__list__secure{
	margin:0px;
	background-image: url('images/secure.png');
	background-repeat: no-repeat;
	background-position: 0% 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 73px;
	line-height: 20px;
	padding-left: 89px;
}
.latest__container__features__list__seo{
	margin: 10px 0px;
	background-image: url('images/seo.png');
	background-repeat: no-repeat;
	background-position: 0% 50%;
	display: flex;
	flex-direction: column;
	height: 73px;
	line-height: 20px;
	padding-left: 89px;
	justify-content: center;
}
.latest__container__features__list__commerce{
	margin:0px;
	background-image: url('images/commerce.png');
	background-repeat: no-repeat;
	background-position: 0% 50%;
	display: flex;
	flex-direction: column;
	height: 73px;
	line-height: 20px;
	padding-left: 89px;
	justify-content: center;
}
.latest__container__features__list{
	padding-left: 0;
}
.latest__container__features__description{
	max-width: 390px;
	margin:0;
}
.values{
	background-color: #f9f9f9;
}
.values__title{
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	color: #222222;
	text-align: center;
	margin-bottom: 0;
}
.values__description{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color:#777777;
	text-align: center;
	margin-top: 0;
}
.values__features{
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 1000px;
	margin:70px auto 120px auto;
}
.values__features__balance, .values__features__quality, .values__features__excelence{
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 320px;
	margin: 0 20px;
}
.values__features__balance__img{
}
.values__features__balance__img:after, .values__features__quality__img:after{
  	position: absolute;
  	content: '';
	background-color: #808080;
	width: 205px;
	height: 2px;
	margin-top: 45.5px;
	margin-left: 17px;
}
.clients__header{
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	color: #222222;
	text-align: center;
	margin-bottom: 0;	
}
.clients__description{
	text-align: center;
	font-size:20px;
	font-family: 'Roboto Slab', serif;
	margin: 0;
	color:#777777;
	margin-bottom: 90px;
}
.clients__container{
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin: 0 auto 75px;
}
.clients__container__above, .clients__container__lower{
	display: flex;
	flex-direction: row;
}
.clients__container__above__circle, .clients__container__lower__circle{
	width:220px;
	height: 220px;
	border-radius: 50%;
	background-color: #f9f9f9;
}
.clients__container__above__circle{
	background-image: url('images/man.jpg');
}
.clients__container__lower__circle{
	background-image: url('images/woman.jpg');
}
.clients__container__above__message, .clients__container__lower__message{
	width:640px;
	height: 180px;
	background-color: #f9f9f9;
	margin: auto 45px auto 45px;
	display: flex;
	flex-direction: column;
}
.clients__container__above__message__text, .clients__container__lower__message__text{
	margin: 40px auto 0;
	max-width: 600px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300px;
	font-size: 22px;
	line-height: 28px;
	color:#777777;
	text-align: center;
}
.clients__container__above__message::before{
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid #f9f9f9;
	border-bottom: 5px solid transparent;
	position: absolute;
	content: '';
	margin-left:-10px;
	margin-top:85px;
}
.clients__container__lower__message::after{
	content: '';
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid #f9f9f9;
	border-bottom: 5px solid transparent;
	position: absolute;
	margin-left:640px;
	margin-top:85px;	
}
.clients__container__above__message__signature, .clients__container__lower__message__signature{
	font-size: 18px;
	line-height: 36px;
	color:#7cc576;
	font-family: 'Roboto Slab', serif;
	margin: 0;
}
.clients__container__above__message__signature{
	margin-left: 80px;
}
.clients__container__lower__message__signature{
	margin-left: 140px;
}
.contact{
	background-color: #7cc576;
	display: flex;
	flex-direction: column;

}
.contact__title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	color:white;
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	margin-bottom: 20px;
	margin-top: 60px;
}
.contact__button{
	width: 195px;
	height: 50px;
	border:4px solid white;
	background-color: #7cc576;
	border-radius: 10px;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	font-size:18px;
	text-transform: uppercase;
	margin: 0 auto 70px;
	transition: background-color 0.2s, color 0.2s;
	cursor: pointer;
}
.contact__button:hover{
	background-color: white;
	color:#7cc576;
}
.contact__button:focus{
	outline:0;
}
.sponsors__container{
	display: flex;
	margin: 40px 0;
	justify-content: center;
	align-items: center;
}
.sponsors__container div{
	margin:0 15px;
}
.topfooter{
	background-color: #222222;
}
.topfooter__container{
	padding-top: 40px;
	display: flex;
	justify-content: center;
}
.topfooter__container div{
	margin: 0 40px;
}

.topfooter__container__contact__title, .topfooter__container__posts__title, .topfooter__container__tweets__title{
	color:white;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.topfooter__container__contact__list{
	list-style-type: none;
	padding-left:0;
}
.topfooter__container__contact__list li{
	font-size:16px;
	color:#ececec;
	font-family: 'Roboto Slab', serif;
	margin:15px 0;
}
.topfooter__container__contact__list__street{
	background-image: url('images/location.png');
	background-repeat: no-repeat;
	background-position: 0% 10%;
	padding-left: 30px;
	line-height: 20px;
}
.topfooter__container__contact__list__phonenumber{
	background-image: url('images/phone.png');
	background-repeat: no-repeat;
	background-position: 0% 10%;
	padding-left: 30px;
	height: 31px;
	line-height: 31px;
}
.topfooter__container__contact__list__email{
	background-image: url('images/email.png');
	background-repeat: no-repeat;
	background-position: 0% 10%;
	padding-left: 30px;
	line-height: 16px;
}
.topfooter__container__posts__list{
	list-style-type: none;
	padding-left: 0;
}
.topfooter__container__posts__list li{
	font-size:16px;
	color:#ececec;
	font-family: 'Roboto Slab', serif;
	margin:17px 0;
	text-transform: capitalize;
}
.topfooter__container__posts__list__text{
	background-image: url('images/news.png');
	background-repeat: no-repeat;
	background-position: 0% 10%;
	padding-left: 35px;
	line-height: 21px;	
}
.topfooter__container__posts__list__photo{
	background-image: url('images/photo.png');
	background-repeat: no-repeat;
	background-position: 0% 10%;
	padding-left: 35px;
	line-height: 23px;	
}
.topfooter__container__posts__list__wideo{
	background-image: url('images/media.png');
	background-repeat: no-repeat;
	background-position: 0% 10%;
	padding-left: 35px;
	line-height: 23px;		
}
.topfooter__container__tweets__list{
	padding-left: 0;
	list-style-type: none;
}
.topfooter__container__tweets__list li{
	margin:10px 0;
}
.topfooter__container__tweets__list__first__text, .topfooter__container__tweets__list__second__text{
	max-width: 240px;
	background-image: url('images/Twitter.png');
	background-repeat: no-repeat;
	background-position: 0 10%;
	line-height: 20px;
	padding-left: 35px;
	margin:0;
	font-size: 16px;
	color:#ececec;
	font-family: 'Roboto Slab', serif;
	font-weight: 
}
.topfooter__container__tweets__list__first__hashtags, .topfooter__container__tweets__list__second__hashtags{
	margin:0;
	line-height: 20px;
	font-size: 16px;
	color:#ececec;
	font-family: 'Roboto Slab', serif;
	padding-left: 35px;
	font-weight: bold;
}
.topfooter__container__tweets__list__first__timeago, .topfooter__container__tweets__list__second__timeago{
	margin:0;
	font-size:12px;
	color:#ececec;
	font-family: 'Roboto Slab', serif;
	padding-left: 35px;
	line-height: 20px;
}
.bottomfooter__container{
	margin-left:20%;
	padding:20px;
	display: flex;
	align-items: center;
}
.bottomfooter__container div{
	margin: 0 15%;
}
.bottomfooter__container__copyright{
	font-size:14px;
	color:#555555;
}
.bottomfooter__container__socials{
	display: flex;
}
.bottomfooter__container__socials div{
	width:41px;
	height:41px;
	margin:0px 5px;
}
.bottomfooter__container__socials__twitter{
	background-image: url('images/twitter.png');
	transition: 0.2s;
}
.bottomfooter__container__socials__twitter:hover{
	background-image: url('images/twitter2.png');
}
.bottomfooter__container__socials__facebook{
	background-image: url('images/facebook.png');
	transition: 0.2s;	
}
.bottomfooter__container__socials__facebook:hover{
	background-image: url('images/facebook2.png');
}
.bottomfooter__container__socials__pinterest{
	transition: 0.2s;
	background-image: url('images/pinterest.png');
}
.bottomfooter__container__socials__pinterest:hover{
	background-image: url('images/pinterest2.png');
		
}
.bottomfooter__container__socials__google{
	background-image: url('images/google.png');
	transition: 0.2s;	
}
.bottomfooter__container__socials__google:hover{
	background-image: url('images/google2.png');
}